* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  font-family: "Lato", sans-serif;

}
/* <!--------------------------------- RANDOM QUOTE-GENERATOR starts here ---------------------------------------------> */

h1 {
  font-size: 40px;
  margin: 0px;
  position: absolute;
  top: 130px;
}
#displayQuote{
  color: gray;
}


.quote {
  box-shadow: 0px 0px 15px 0px black;
  display: flex;
  flex-direction: column;
  background-color: #4ea0eb;
  border: 1px solid rgba(0, 0, 0, 0);
  width: 800px;
  justify-content: center;
  align-items: center;
  padding: 80px;
}
.quote > p {
  border: 1px solid black;
  width: 770px;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: math;
  padding: 30px;
  margin: 20px 0px;
}
.quote > button {
  cursor: pointer;
  padding: 15px;
  height: 50px;
  border: 1px solid blue;
  color: white;
  width: 500px;
  font-size: 20px;
  position: absolute;
  bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  background-color: blue;
}

/* <!--------------------------------- Pseudo class functions---------------------------------------------> */

.quote > button:hover{
  box-shadow: 0px 0px 10px 0px blue;
  cursor: pointer;
}
#reset-button:hover{
  box-shadow: 0px 0px 10px 0px red;
  cursor: pointer;
}
.quote > button:active{
  box-shadow: 0px 0px 10px 0px black;
  cursor: pointer;
}
#reset-button:active{
  box-shadow: 0px 0px 10px 0px black;
  cursor: pointer;
}

/* <!--------------------------------- Pseudo class functions---------------------------------------------> */

#reset-button {
  cursor: pointer;
  height: 50px;
  position: absolute;
  right: 365px;
  bottom: 25px;
  width: 100px;
  background: red;
  border: 1px solid red;
}

/* <!--------------------------------- RANDOM QUOTE-GENERATOR ends here ---------------------------------------------> */
