* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e8e8e8;
  font-family: "Lato", sans-serif;
  color: white;
  font-family: "Lato", sans-serif;
}
/* <!--------------------------------- Converter box starts here -------------------------------------------->  */

#converter-box {
  box-shadow: 0px 0px 10px 0px black;
  border: 2px solid gray;
  padding: 20px;
  margin-left: 30%;
  margin-top: 150px;
  height: 400px;
  width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #5468e4;
}

.result-reset {
  margin-left: 50px;
  margin-top: 7px;
  gap: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#converter-box > h1 {
  font-size: 50px;
  text-align: center;
  padding: 0px 0px 30px 0px;
}

.value-insertion {
  display: flex;
  flex-direction: column;
  height: 230px;
  width: 310px;
  align-items: center;
}

#converter-box > .operations > .value-insertion > p {
  font-size: 27px;
  padding: 10px;
}
#converter-box > .operations > .value-insertion > input {
  height: 45px;
  border: 2px solid black;
  width: 300px;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}
/* <!--------------------------------- Operations starts here -------------------------------------------->  */

.operations {
  display: flex;
  height: 230px;
}
/*---------------------------------------------- pseudo classes---------------------------------------------  */
#convert-btn:hover {
  box-shadow: 0px 0px 10px 0px blue;
}
#convert-btn:active {
  box-shadow: 0px 0px 10px 0px black;
}

#reset:hover {
  box-shadow: 0px 0px 10px 0px red;
}
#reset:active {
  box-shadow: 0px 0px 10px 0px black;
}
/*---------------------------------------------- pseudo classes---------------------------------------------  */

#convert-btn {
  height: 45px;
  border-radius: 8px;
  width: 180px;
  font-size: 20px;
  border: 2px solid blue;
  color: white;
  background-color: blue;
}
#result {
  border: 2px solid;
  width: 240px;
  display: flex;
  color: rgba(0, 0, 0, 0.851);
  height: 44px;
  text-align: center;
  padding: 3px 0px 0px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
#reset {
  height: 45px;
  border-radius: 8px;
  width: 160px;
  height: 48px;
  font-size: 25px;
  border: 2px solid rgba(255, 0, 0, 0);
  color: white;
  background-color: #e10304;
}

#result-text {
  font-size: 24px;
  margin: 0px ;
  padding-bottom: 8px;
  padding-top: 10px;
}
/* <!--------------------------------- Operations ends here -------------------------------------------->  */

/* <!--------------------------------- Converter box ends here -------------------------------------------->  */
